.container {
    display: grid;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
    grid-template-columns: repeat(4, 75px);
    grid-template-rows: repeat(6, 75px);
    padding: 40px;
}

#longer {
    grid-column: span 2;
}

.display {
    display: flex;
    background-color: lightgrey;
    grid-column: span 4;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    padding-right: 10px;
}

.opDisplay {
    padding-top: 10px;
    font-size: 20px;
}

.inDisplay {
    padding: 1px;
    font-size: 50px;
}